RewriteEngine On
# Redirect to www.
RewriteCond %{HTTP_HOST} !^www\.storbital\.com
RewriteRule (.*) http://www.storbital.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#FileETag none

#<IfModule mod_deflate.c>
#<FilesMatch "\.(js|css)$">
#SetOutputFilter DEFLATE
#</FilesMatch>
#</IfModule>

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Expires "Thu, 15 Apr 2012 20:00:00 GMT"
</FilesMatch>

AuthUserFile /srv/share/.htpasswd
AuthType Basic
AuthName "Storbital Alpha"
Require valid-user
